<h3>Demo</h3>

<button class="btn btn-primary" @onclick="UpdateText">Update Text</button>

@if (!string.IsNullOrEmpty(textInfo))
{
    <script>
        console.log("textInfo is not null");
    </script>
    <h4>@textInfo</h4>
}

<ul>
@for(int i = 0; i < 10; i++)
{
    <li>@GetNumberText(i)</li>
}
</ul>

@code {

    private string? textInfo = string.Empty;

    private void UpdateText()
    {
        textInfo = "This is the updated text string";
    }

    private string GetNumberText(int i) => $"This is number {i}"; // this is a method that returns a string
}
