@inherits LayoutComponentBase

<!--This is the page that gets injected into App.razor at the <Routes /> tag-->
<!--As a layout, this acts as a container in essence for components will fit into-->
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body <!-- This is where the components of the page get inserted-->
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
