@page "/"

<PageTitle>Home</PageTitle>

<h1>John's Blazor Trainer'</h1>

<p>This Blazor app is meant to be a sandbox for experimenting, learning and understanding Blazor better. There are comments throughout the project that are meant to be notes for myself. <br />
    This is not meant to be a pretty project, or a production app. This is merely a place for me to tinker and learn!</p>

<!-- Check out the Testing.razor component for notes on building components-->
<!-- <Testing /> -->

@* <BetterCounter  Title="The Better Counter" StartingValue="10"/> <!-- Now that the BetterCounter component has the Title Parameter, the components tag now gives the option to set that parameter! --> *@


@code{

}
